@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..800");
@import url("https://fonts.googleapis.com/css2?family=Geist Mono");
@import url("https://fonts.googleapis.com/css2?family=Lexend Deca:wght@700");
@import url("https://fonts.googleapis.com/css2?family=Playwrite DK Loopet");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(185, 221, 235);
  background-color: rgb(243, 243, 243);
}

h1 {
  font-family: Geist Mono, Montserrat, Monospace, Calibri;
  font-weight: 700;
  text-align: center;
}
h4 {
  font-family: Geist Mono, Monospace;
  text-align: center;
}
h3 {
  font-family: Montserrat, Monospace, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 400;
  text-align: center;
}
.event {
  font-family: Geist Mono, Monospace;
  text-align: center;
  padding: 15px;
  background-color: darkgoldenrod;
  margin: 5px 50px;
  color: white;
  border-radius: 20px;
}

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: white;
  padding: 10px 20px;
  font-family: Montserrat;
  z-index: 1000;
}
#navbar img {
  float: left;
  display: block;
  width: auto;
  height: 70px;
}
#navbar span {
  font-family: Montserrat, Geist Mono, monospace;
  float: right;
  text-align: center;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 20px 10px;
  margin-bottom: 10px;
  font-size: small;
  transition: background-color 1s;
}

#navbar span:hover {
  background-color: rgb(153, 102, 8);
}
#span h1:hover {
  background-color: lightgrey;
}
#navbar #menu {
  display: none;
  float: right;
  max-height: 70px;
  width: auto;
}
#mobileNAVBAR {
  position: fixed;
  padding: 40px;
  top: 60px;
  right: 0;
  left: 0;
  height: 400px;
  background-color: rgb(9, 9, 88);
  color: white;
  display: none;
}
#mobileNAVBAR h1 {
  background-color: darkblue;
  padding: 20px;
  margin: 20px 50px;
  border-radius: 10px;
  font-family: Lexend Deca;
}

#aboutBanner h2 {
  font-family: Montserrat, "Courier New", Courier, monospace;
  color: white;
  text-align: center;
  background-color: darkorange;
  padding: 30px;
  margin: 20%;
  border-radius: 25px;
}
#aboutBanner {
  background-color: transparent;
  padding: 20px;
  background-image: url("images/bearbotsTeamPhoto_dec2024.png");
  background-size: 100% auto;
}

.footer {
  background-color: rgb(201, 201, 201);
  height: 80px;
  padding: 40px;
}
.footer img {
  float: right;
  max-height: 70px;
  width: auto;
  margin: auto 0;
}
.footer h3 {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-weight: 700;
  padding: 10px;
}
#sitemapLINK {
  background-color: aliceblue;
  border-radius: 10px;
}

.mobileBR {
  display: none;
}

@media screen and (max-width: 1300px) {
  #span h1 {
    margin: 0px 5px;
    padding: 0px;
    visibility: collapse;
  }
  #navbar #menu {
    display: block;
    width: auto;
    height: 20px;
    padding: 0.5vw 0px;
  }
  #mobileNAVBAR {
    display: inline;
  }
}

@media screen and (max-width: 700px) {
  #navbar img {
    width: auto;
    height: 50px;
    padding: 3.7% 0px;
  }
  #navbar {
    height: 80px;
  }
  #aboutBanner {
    background-position: 0px 100px;
    background-repeat: no-repeat;
  }
  #aboutBanner h2 {
    font-size: 15px;
    padding: 18px;
  }
  #navbar #menu {
    height: 50px;
    padding: 2.5vw 0px;
  }
  #mobileNAVBAR {
    height: 380px;
  }
  #mobileNAVBAR h1 {
    font-size: 20px;
  }
  .footer h3 {
    font-size: 15px;
  }

  .mobileBR {
    display: block;
  }
}

.hidebar {
  display: none !important;
}

.backgroundSky {
  background-color: skyblue;
  padding: 10px;
}
.montserratFONT {
  font-family: Montserrat, system-ui, Monospace;
}
.geostFONT {
  font-family: Geist Mono, system-ui, Monospace;
}

span.repoButton {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 15px;
  margin-right: 10px;
}